/* common */
.navbar {
  margin: 0;
  padding: 0;
  color: white;
}
/* common end */

/* section_1 */
.section_1 {
  background-color: #1b6392;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #2998e2;
  height: 52px;
}

.section_1_container {
  display: flex;
  align-items: center;
}

.section_1_text {
  font-size: 14px;
  margin-right: 20px;
}

.section_1_title {
  font-size: 14px;
}

.section_1_container svg {
  margin: 0 5px;
}

.section_1_line {
  background-color: #2998e2;
  width: 2px;
  height: 40px;
  margin: 0 10px;
}

.section_1_selection {
  background: none;
  border: none;
  color: white;
}

@media only screen and (max-width: 600px) {
  .section_1 {
    display: none;
  }
}

/* section_1 end */

/* section_2 */

.section_2 {
  background-color: #1b6392;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2998e2;
  height: 88px;
  width: 100%;
}

.section_2_title {
  font-size: 32px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.section_2_input_container {
  display: flex;
  align-items: center;
  width: 650px;
  height: 30px;
  background-color: white;
  padding: 10px;
}

.section_2_input {
  width: 100%;
  font-size: 16px;
  border: none;
}

.section_2_input:focus {
  border: none;
  outline: none;
}

.section_2_icons_container {
  margin-right: 20px;
  display: flex;
}

.section_2_icons_container svg {
  margin: 0 10px;
}

.section_2_cart_container {
  display: flex;
}

.section_2_icon_cartcount {
  color: black;
  background-color: white;
  font-size: 15px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  text-align: center;
  transform: translateX(-10px);
}

.section_2_cart {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  display: none;
  top: 120px;
  right: 80px;
  width: fit-content;
}

.section_2_cart h1 {
  color: black;
  font-size: 16px;
  margin: 0 0 10px 20px;
}

.section_2_item_container {
  padding: 20px 0 30px 0;
  border-top: 1px solid #929fa5;
  border-bottom: 1px solid #929fa5;
}

.section_2_item {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-top: 10px;
}

.section_2_item img {
  width: 70px;
  height: 70px;
  border: 1px solid #929fa5;
}

.section_2_item_text {
  display: flex;
  color: black;
  flex-direction: column;
}

.section_2_item_title {
  font-size: 16px;
  margin: 5px;
}

.section_2_item_price {
  color: #2998e2;
  margin: 5px;
}

.section_2_checkout_btn {
  background-color: #fa8232;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  border: none;
  margin: 20px 20px;
  font-weight: bold;
  border-radius: 2px;
}

.section_2_viewcart_btn {
  color: #fa8232;
  width: 300px;
  margin-bottom: 0;
  margin: 0 20px;
  border: 1px solid #ffe7d6;
  background-color: white;
  font-weight: bold;
  border-radius: 2px;
}

.section_2_user_login {
  background-color: white;
  box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  position: absolute;
  display: none;
  transform: translateX(-350px);
}

.section_2_user_login h1 {
  color: black;
  margin: 0 0 20px 0;
  text-align: center;
}

.section_2_user_login label {
  font-size: 14px;
  color: black;
}

.section_2_user_login input {
  width: 350px;
  height: 30px;
  border: 1px solid #e4e7e9;
  border-radius: 5px;
  margin: 10px 0;
}

.section_2_user_login select {
  width: 350px;
  height: 30px;
  border: 1px solid #e4e7e9;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
}

.section_2_user_login button {
  background-color: #fa8232;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 14px;
}

.section_2_pwd_container {
  display: flex;
  align-items: center;
  width: 350px;
  height: 30px;
  border: 1px solid #e4e7e9;
  border-radius: 5px;
  margin: 10px 0;
}

.section_2_pwd_container input {
  width: 100%;
  height: 28px;
  border: none;
  margin: 0;
}

.section_2_or {
  color: black;
  font-size: 14px;
  text-align: center;
}

.section_2_user_signup {
  border: 1px solid #ffe7d6;
  width: 100%;
  color: #fa8232;
  font-size: 14px;
  text-align: center;
}

.section_2_cart_container:hover .section_2_cart {
  display: block;
}

.toggleBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  display: none;
  margin-right: 20px;
}

.section_2_user_container:hover .section_2_user_login {
  display: block;
}

@media only screen and (max-width: 900px) {
  .section_2_icons_container {
    display: none;
  }
  .section_2_input_container {
    display: none;
  }

  .toggleBtn {
    display: block;
  }
}
/* section_2 end */

/* section_3 */

.section_3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #f2f4f5;
}

.section_3_div_1 {
  display: flex;
}

.section_3_select {
  background-color: #f2f4f5;
  width: 150px;
  height: 50px;
  font-size: 14px;
  border: none;
  padding: 0 10px;
  border-right: 16px solid transparent;
}

.section_3_options_container {
  color: #5f6c72;
  display: flex;
  align-items: center;
}

.section_3_option {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.section_3_option:hover {
  color: #1b6392;
  cursor: pointer;
}

.section_3_option p {
  font-size: 14px;
  margin-left: 3px;
}

.section_3_div_2 {
  display: flex;
  align-items: center;
}

.section_3_div_2 p {
  font-size: 18px;
  color: black;
  margin-left: 5px;
}

/* section_3 end */
