.home_page {
  display: flex;
}

.section_1 {
  padding: 0 20px;
  margin: 20px;
  width: 200px;
}

.section_1 h3 {
  font-size: 16px;
}

.section_1 ul {
  list-style: none;
  padding: 0;
}

.section_1 li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #5f6c72;
  font-size: 14px;
}

.radioBtn {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  margin-right: 10px;
  border: 1px solid #c9cfd2;
}

.radioBtnSelect {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 100%;
  margin-right: 10px;
  border: 7px solid #fa8232;
}

.section_2 {
  width: 100%;
}

.section_2_filter {
  display: flex;
  background-color: #f2f4f5;
  padding: 0 20px;
  margin: 20px 0;
}

.section_2_category_container {
  display: flex;
  margin: 0 10px;
  align-items: center;
}

.section_2_category_container p {
  color: black;
  font-size: 14px;
}

.section_2_category_container svg {
  margin-left: 5px;
}

.section_2_filter_title {
  font-size: 14px;
  color: #5f6c72;
}

.section_2_products_container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Responsive columns */
  gap: 20px; /* Spacing between elements */
  width: 100%;
}

.product {
  background: #fff;
  margin: 20px 10px;
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 1px solid #e4e7e9;
}

.product:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  margin: 10px 0;
}

.product p {
  color: #666;
}

/* Responsive styles */
@media (max-width: 768px) {
  .categories,
  .products {
    flex-basis: 100%;
  }

  .product {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product {
    width: calc(100% - 20px);
  }
}
